.container {
    display: flex;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 25px;
}
.container2 {
    display: flex;
    flex-direction: column;
}

.nav {
width: 16%;
height: 630px;
background-color: green;
}

.head {
    width: 185vh;
    height: 115px;
    background-color: pink;

}

.box6 {
    display: flex;
}

article {
    width: 135vh;
    height: 400px;
    background-color: blueviolet;

}

aside {
    width: 50vh;
    height: 400px;
    background-color: lightcyan;

}

.foot {
    width: 185vh;
    height: 115px;
    background-color: lightblue;

}

